In [1]:
import pandas as pd

df_train = pd.read_csv('../data/basic_train_preprocess.csv')

In [2]:
df_train.columns

Index(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id',
       'mean_sales', 'max_sales', 'std_sales', 'total_sales', 'weighted_sales',
       'mean_sum_gap', 'd', 'sales', 'wm_yr_wk', 'yearly_day', 'month', 'year',
       'yearly_week', 'wday', 'event_type_1', 'event_name_1', 'event_type_2',
       'event_name_2', 'event', 'snap_CA', 'snap_TX', 'snap_WI',
       'min_sales_matching_wd', 'mean_sales_matching_wd',
       'std_sales_matching_wd', 'max_sales_matching_wd', 'exp_smooth_fcst',
       'diff_exp_smooth_fcst', 'sell_price'],
      dtype='object')

In [9]:
df_train.iloc[:, 2:].head()

,dept_id,cat_id,store_id,state_id,mean_sales,max_sales,std_sales,total_sales,weighted_sales,mean_sum_gap,...,snap_CA,snap_TX,snap_WI,min_sales_matching_wd,mean_sales_matching_wd,std_sales_matching_wd,max_sales_matching_wd,exp_smooth_fcst,diff_exp_smooth_fcst,sell_price
0,3,1,0,0,1.0000,3,0.9430,52.10,0.000022,0.6970,...,0,0,0,0,0.25,0.500,1,0.8820,-0.2812,8.26
1,3,1,0,0,0.3215,1,0.4756,7.29,0.000003,0.5737,...,0,0,0,0,0.25,0.500,1,0.2844,-0.8790,3.97
2,3,1,0,0,0.5356,6,1.2010,25.72,0.000011,0.3354,...,0,0,0,0,0.25,0.500,1,0.2778,-0.8853,2.97
3,3,1,0,0,1.8930,6,1.9690,110.00,0.000047,7.0620,...,0,0,0,0,2.50,1.732,4,2.0100,0.8467,4.64
4,3,1,0,0,1.1070,3,0.9940,70.90,0.000030,2.5430,...,0,0,0,1,1.75,0.500,2,1.0680,-0.0949,2.88

In [44]:
df_test.iloc[280:290]

,id,item_id,dept_id,cat_id,store_id,state_id,mean_sales,mean_sum_gap,total_sales,weighted_sales,...,yearly_week,wday,event_type_1,event_name_1,event_type_2,event_name_2,snap_CA,snap_TX,snap_WI,sell_price
280,HOBBIES_1_288_CA_1_validation,HOBBIES_1_288,3,1,0,0,4.1450,86.5600,4.1450,0.000168,...,13,3,2,19,1,3,0,0,0,0.57
281,HOBBIES_1_289_CA_1_validation,HOBBIES_1_289,3,1,0,0,0.2734,0.8545,0.2734,0.000004,...,13,3,2,19,1,3,0,0,0,4.97
282,HOBBIES_1_290_CA_1_validation,HOBBIES_1_290,3,1,0,0,0.2415,0.5660,0.2415,0.000004,...,13,3,2,19,1,3,0,0,0,5.77
283,HOBBIES_1_292_CA_1_validation,HOBBIES_1_292,3,1,0,0,0.2400,0.5596,0.2400,0.000010,...,13,3,2,19,1,3,0,0,0,6.58
284,HOBBIES_1_293_CA_1_validation,HOBBIES_1_293,3,1,0,0,0.3362,0.9756,0.3362,0.000010,...,13,3,2,19,1,3,0,0,0,3.68
285,HOBBIES_1_294_CA_1_validation,HOBBIES_1_294,3,1,0,0,0.1150,0.2580,0.1150,0.000003,...,13,3,2,19,1,3,0,0,0,3.88
286,HOBBIES_1_295_CA_1_validation,HOBBIES_1_295,3,1,0,0,6.7400,120.5600,6.7400,0.000141,...,13,3,2,19,1,3,0,0,0,0.48
287,HOBBIES_1_296_CA_1_validation,HOBBIES_1_296,3,1,0,0,0.5728,1.3280,0.5728,0.000012,...,13,3,2,19,1,3,0,0,0,7.38
288,HOBBIES_1_297_CA_1_validation,HOBBIES_1_297,3,1,0,0,0.9854,2.1640,0.9854,0.000042,...,13,3,2,19,1,3,0,0,0,14.72
289,HOBBIES_1_298_CA_1_validation,HOBBIES_1_298,3,1,0,0,0.8438,1.8940,0.8438,0.000034,...,13,3,2,19,1,3,0,0,0,3.94

In [17]:
df_val = df_test.pivot(index='id', columns='d', values='sales')

In [39]:
pd.DataFrame(df_test.pivot_table(index=['id', 'item_id'], columns='d', values='sales').to_records())

,id,item_id,d_1914,d_1915,d_1916,d_1917,d_1918,d_1919,d_1920,d_1921,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,FOODS_1_001_CA_1_validation,FOODS_1_001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,FOODS_1_001_CA_2_validation,FOODS_1_001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,FOODS_1_001_CA_3_validation,FOODS_1_001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,FOODS_1_001_CA_4_validation,FOODS_1_001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,FOODS_1_001_TX_1_validation,FOODS_1_001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,HOUSEHOLD_2_516_TX_2_validation,HOUSEHOLD_2_516,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30486,HOUSEHOLD_2_516_TX_3_validation,HOUSEHOLD_2_516,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30487,HOUSEHOLD_2_516_WI_1_validation,HOUSEHOLD_2_516,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30488,HOUSEHOLD_2_516_WI_2_validation,HOUSEHOLD_2_516,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30489,HOUSEHOLD_2_516_WI_3_validation,HOUSEHOLD_2_516,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
sample = pd.read_csv('../data/sample_submission.csv')
sample

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,HOBBIES_1_002_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,HOBBIES_1_004_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,HOBBIES_1_005_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60975,FOODS_3_823_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60976,FOODS_3_824_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60977,FOODS_3_825_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60978,FOODS_3_826_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60979,FOODS_3_827_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df_val

d,d_1914,d_1915,d_1916,d_1917,d_1918,d_1919,d_1920,d_1921,d_1922,d_1923,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
id,,,,,,,,,,,,,,,,,,,,,
FOODS_1_001_CA_1_validation,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FOODS_1_001_CA_2_validation,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FOODS_1_001_CA_3_validation,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FOODS_1_001_CA_4_validation,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FOODS_1_001_TX_1_validation,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
HOUSEHOLD_2_516_TX_2_validation,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
HOUSEHOLD_2_516_TX_3_validation,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
HOUSEHOLD_2_516_WI_1_validation,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
HOUSEHOLD_2_516_WI_2_validation,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
HOUSEHOLD_2_516_WI_3_validation,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
df_val = pd.DataFrame(df_val.to_records())

In [23]:
df_eval = df_val.copy()
df_eval.id = df_eval.id.apply(lambda x: x.replace('validation', 'evaluation'))
df_eval

,id,d_1914,d_1915,d_1916,d_1917,d_1918,d_1919,d_1920,d_1921,d_1922,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,FOODS_1_001_CA_1_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,FOODS_1_001_CA_2_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,FOODS_1_001_CA_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,FOODS_1_001_CA_4_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,FOODS_1_001_TX_1_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,HOUSEHOLD_2_516_TX_2_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30486,HOUSEHOLD_2_516_TX_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30487,HOUSEHOLD_2_516_WI_1_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30488,HOUSEHOLD_2_516_WI_2_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30489,HOUSEHOLD_2_516_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
df_val

,id,d_1914,d_1915,d_1916,d_1917,d_1918,d_1919,d_1920,d_1921,d_1922,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,FOODS_1_001_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,FOODS_1_001_CA_2_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,FOODS_1_001_CA_3_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,FOODS_1_001_CA_4_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,FOODS_1_001_TX_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,HOUSEHOLD_2_516_TX_2_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30486,HOUSEHOLD_2_516_TX_3_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30487,HOUSEHOLD_2_516_WI_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30488,HOUSEHOLD_2_516_WI_2_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30489,HOUSEHOLD_2_516_WI_3_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0